<h1>Posts</h1>
<h2><% @post.each do |post| %></h2>
<h2><%= post.title %></h2>
<h2><%= post.author %></h2>
<h2><%= post.description %></h2>
<p><%= link_to 'Show Post', post_path(post.id)%></p>
<p><%= link_to 'New Post', new_post_path %></p>
<p><%= link_to 'Edit Post', edit_post_path(post.id) %></p>
<p><%= link_to 'Destroy Post', post, method: :delete %></p>
<% end %>
